

.noticia-more {
  font-size: 25px !important;
  position: absolute;
  right: -5px;
  top: 0px;
}


.list-md {
  padding-top: 0px !important; 
  padding-bottom: 0px !important;
}


.importe{
  font-weight: bold;
  font-size: 18px;
}

h3 {
  color: #000;
  font-weight: bold;
}

.title-name-ticket {
  color: #0088a3 !important;
  font-size: 17px !important;
  font-weight: bold !important;
}

.green-item {
  background-color: #eef7ee;
}

.red-item {
  background-color: #fdfcf2;
}



