

<ion-header>
  
</ion-header>
<ion-content class="form-content ion-padding"> 
  
  <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav>

      <ion-slide>
        <ion-grid>
          <ion-row style="margin-top: 2%;">
            <ion-col>
              <ion-text >
                <h5>¡Bienvenid@!</h5>
              </ion-text>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col class="col-md-12 vertical-center ion-text-center" >
                  <ion-img src="../../assets/img/slide1.png" class="ion-align-self-end"></ion-img>
              </ion-col>
          </ion-row>
          <ion-row>
          
            <ion-list lines="none" style="margin-top: 15px;">
              <ion-item style="margin-top: 5px !important;"> 
                <ion-icon slot="start" name="checkmark" color="secondary"></ion-icon>
                <ion-text>
                  <p>Si te vas de vacaciones con tus amigos</p>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="checkmark" color="secondary"></ion-icon>
                <ion-text>
                  <p>Si no tienes cuenta en común con tu pareja</p>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="checkmark" color="secondary"></ion-icon>
                <ion-text>
                  <p>Si compartes piso</p>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="checkmark" color="secondary"></ion-icon>
                <ion-text>
                  <p>O cualquier otro motivo que se te ocurra</p>
                </ion-text>
              </ion-item>
              <ion-item style="margin-top: 5px !important;">
                <ion-text>
                  <p>Crea tus grupos, añade los gastos y <b>Zent</b> se encargará del resto</p>
                </ion-text>
              </ion-item>
          </ion-list>
        </ion-row>
        </ion-grid>
      </ion-slide>


      <ion-slide>
        <ion-grid>
          <ion-row style="margin-top: 2%;">
            <ion-col>
              <ion-text >
                <h5>Grupos</h5>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="col-md-12 vertical-center ion-text-center">
                  <ion-img src="../../assets/img/slide2.png" class="ion-align-self-end"></ion-img>
              </ion-col>
          </ion-row>
          <ion-row>
          
            <ion-list lines="none" style="margin-top: 10px;">
              <ion-item style="margin-top: 5px !important;"> 
                <ion-icon slot="start" name="checkmark" color="secondary"></ion-icon>
                <ion-text>
                  <p>Crea tu grupo</p>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="checkmark" color="secondary"></ion-icon>
                <ion-text>
                  <p>Añade a los participantes</p>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="checkmark" color="secondary"></ion-icon>
                <ion-text>
                  <p>Comparte la App por redes sociales</p>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="checkmark" color="secondary"></ion-icon>
                <ion-text>
                  <p>¿Dispuesto a crear un gasto?</p>
                </ion-text>
              </ion-item>
              <ion-item style="margin-top: 5px !important;">
                <ion-text>
                  <p>Te mostramos lo que has gastado, el balance, el desglose de lo que debes y por supuesto, de lo que te deben</p>
                </ion-text>
              </ion-item>
          </ion-list>
        </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide>
        <ion-grid>
          <ion-row style="margin-top: 2%;">
            <ion-col>
              <ion-text >
                <h5>Gastos</h5>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="col-md-12 vertical-center ion-text-center" >
                  <ion-img src="../../assets/img/slide3.png" class="ion-align-self-end"></ion-img>
              </ion-col>
          </ion-row>
          <ion-row>
          
            <ion-list lines="none">
             
              <ion-item style="margin-top: 5px !important;">
                <ion-text>
                  <p>¡Bien! Ya tienes grupo, ahora podrás:</p>
                </ion-text>
              </ion-item>
              <ion-item style="margin-top: 5px !important;">
                <ion-icon slot="start" name="checkmark" color="secondary"></ion-icon>
                <ion-text>
                  <p>Crea el gasto, selecciona a los participantes y si tienes ticket ¡súbelo!</p>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="checkmark" color="secondary"></ion-icon>
                <ion-text>
                  <p>Consulta el detalle. Te mostraremos fecha, importe, participantes ...</p>
                </ion-text>
              </ion-item>
              <ion-item style="margin-top: 5px !important;">
                <ion-text>
                  <p><b>Zent</b> realiza los cálculos y te dice quién te debe, a quién le debes... 
                    Recuérdale a tu amigo que te pague y cuando lo haya hecho, liquida la deuda</p>
                </ion-text>
              </ion-item>
          </ion-list>
        </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide>
        <ion-grid>
          <ion-row style="margin-top: 2%;">
            <ion-col>
              <ion-text >
                <h5>Notificaciones</h5>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="col-md-12 vertical-center ion-text-center" >
                  <ion-img src="../../assets/img/slide5.png" class="ion-align-self-end"></ion-img>
              </ion-col>
          </ion-row>
          <ion-row>
          
            <ion-list lines="none">
             
              <ion-item style="margin-top: 5px !important;">
                <ion-text>
                  <p>Recibirás notificaciones cuando:</p>
                </ion-text>
              </ion-item>
              <ion-item style="margin-top: 5px !important;">
                <ion-icon slot="start" name="checkmark" color="secondary"></ion-icon>
                <ion-text>
                  <p>Estés en un grupo nuevo</p>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="checkmark" color="secondary"></ion-icon>
                <ion-text>
                  <p>Tengas un nuevo gasto</p>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="checkmark" color="secondary"></ion-icon>
                <ion-text>
                  <p>Debas dinero a alguien</p>
                </ion-text>
              </ion-item>
              <ion-item style="margin-top: 5px !important;">
                <ion-text>
                  <p>Siempre podrás desactivarlas en tus ajustes para que no te molesten</p>
                </ion-text>
              </ion-item>
          </ion-list>
        </ion-row>
        </ion-grid>
      </ion-slide>
  </ion-slides>



</ion-content>


<ion-footer no-border>
  <ion-toolbar transparent>
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
            <button ion-button class='button-style' (click)="irRegistro()">CREAR CUENTA</button>  
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col>
          <p>¿Ya tienes una cuenta?<a class="forgot-pass-texto" (click)="login()"> Iniciar Sesión</a></p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col>
            <p (click)="openPoliticy()">Política de privacidad</p>
        </ion-col>  
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

