
/*
ion-item {
  --background: none !important;
  opacity:1 !important;
}
*/


ion-select {
  font-size: 18px;
  color: #000 !important;
}

ionic-selectable{
  font-size: 18px;
  color: #000 !important;
}

.img-adjuntada {
  font-size: 18px;
  color: #000 !important;
}

