<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-icon class="back-header" ios="ios-arrow-back" md="md-arrow-back" (click)="irLogin()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="form-content ion-padding" >

  

  <ion-grid>
  
    <ion-row>
      <ion-col>
        <ion-text >
          <h2>¡No te preocupes!</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <small class="text-explicativo">
          Introduce tu teléfono y te enviaremos una contraseña temporal por SMS
        </small>
      </ion-col>
    </ion-row>
  </ion-grid>


  

  <form [formGroup]="recordar_pass_form"  (ngSubmit)="onSubmit(recordar_pass_form.value)" style="margin-top: 20%;">

      <ion-item >
        <ion-label  position="floating">Teléfono</ion-label>
        <ion-input type="tel" formControlName="telefono"></ion-input>
      </ion-item>
     
      <div class="validation-errors" *ngIf="recordar_pass_form.get('telefono').hasError('exitTelefono')">
        <ng-container >
          <div class="error-message" >
            <ion-icon name="information-circle-outline"></ion-icon> Tu teléfono no está registrado en la App
          </div>
        </ng-container>
      </div>
      <div class="error-checking" *ngIf="gTelefono.pending">
        <ng-container >
          <div class="checking-message" >
            <ion-spinner name="circles" color="warning"></ion-spinner>
          </div>
        </ng-container>
      </div>



      <ion-grid>
        <ion-row class="ion-text-center" style="margin-top: 5%">
          <ion-col>
              <button ion-button class='button-style' [disabled]="!recordar_pass_form.valid" >RECORDAR</button>  
          </ion-col>
        </ion-row>
        </ion-grid>

  </form>

</ion-content>
