
.submit-btn {
  margin-top: 40px;
}

.forgot-pass-texto {
  color: var(--color-yellow) !important;
  font-size: 15px !important;
}

.top {
  margin-top: 30px;
}

.down {
  margin-top: 15%;
}

a {
  color: gray;
  font-size: 15px;
}
