

.down {
  margin-top: 10%;
}

.campo-texto-lista {
  color: var(--color-yellow) ;
  font-size: 20px !important;
}


ion-select {
  font-size: 18px;
  color: #000 !important;
}

ionic-selectable{
  font-size: 18px;
  color: #000 !important;
}


.espacio {
  margin-bottom: 15px;
}

.espacio-arriba {
  margin-top: 25px;
}

