




.transparente {
  opacity: 0.8 !important;
  border-radius: 15px;
}

ion-note {
  font-size: 15px;
}

.texto-quien {
  font-size: 15px;
  font-weight: bold;
 }

 ion-label {
   font-size: 15px !important;
 }

 h1 {
   color: gray !important;
   margin-top: 10%;
 }

 a {
  text-decoration: none;
}

.link_tlf{
  color: #66c2ff;
  text-decoration: underline;
}


