

.transparente {
  opacity: 0.8 !important;
  border-radius: 15px;
}



ion-content.background {
    --background: url(../../../assets/img/background.png) no-repeat center center / cover;
}

ion-item-divider{
  margin-top: 20px;
}

ion-list {
  background-color: var( --ion-color-light);
}

ion-item-option {
  border-radius: 10px;
}

.datos {
  font-size: 15px !important; 
}

.negro {
  color: black !important;
}

h1{
  color: gray;
  font-weight: bold;
}
